<div >
  <button (click)="generatePdf()">generate pdf</button>
</div>

<div #htmlContent class="home_page">
    <!-- video part -->
    <div class="video">
        <!-- <video autoplay [muted]="'muted'" loop>
            <source src="../../../../assets/promo.mp4" type="video/mp4" />
          </video> -->
          <img src="../assets/banner image.jpg">

    </div>
    
    <!-- center part -->
    <div class="center_content">
        <div class="two_lines">
            <p>WHY CHOOSE US</p>
            <h4>Why people choosing us?</h4>
        </div>
    </div>
    
    <!-- image and reasons -->
    <div class="image_reasons">
        <div class="image">
           <img src="../assets/Southwest Beef Cavatappi with Green Pepper & Smoky Red Pepper Crema hd images.avif">
        </div>
        <div class="reason_content">
            <div class="reasons">
                <h2>3 reasons to love</h2>
                <h2>Ayuryum</h2>
             </div>

             <div class="first_reason_content">
                <h3>Ayurveda infused recipes</h3>
                <p>Recipes carefully created by chef for a healthy lifestyle.</p>
             </div>

             <div class="second_reason_content">
                <h3>Receive your box</h3>
                <p>Your freshly prepped meals, delivered at your doorstep. Along with<br> convenience saves you trips to the grocery store and reduces food<br> wastage.</p>
             </div>

             <div class="third_reason_content">
                <h3>Quick meal</h3>
                <p>Food so tasty and easy to cook that everyone in your family will <br>enjoy the meal they love. </p>
             </div>
        </div>  
    </div>

    <div class="our_menu_navigation">
        <h2>EASY MEAL WITH HEALTHY ZEAL</h2>
        <p>No need to think outside the box when we can innovate inside the box</p>
        <button>Our Menu</button>
    </div>

<!-- parent closing tag     -->
</div>
<div class="get_in_touch">
     <p>GET IN TOUCH</p>
     <div class="name_section">
        <input type="text" placeholder="Your Name"><br>
        <input type="email" placeholder="Your Email"><br>
        <input type="text" placeholder="Subject"><br> 
     </div>
     <div class="description">
         <input type="text" placeholder="Description">
     </div>
</div>






